h1
{
    display: flex;
    justify-content: center;
    
}

body
{
   background-color: aquamarine;
    
}

.head-cen
{
    color: blue; 
    display: flex;
    justify-content: center;
}



.ingr-cen
{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ingr-input
{
    margin: 0px;
    
}



.ingr-output
{
    width: 700px;
    height: 325px;
    border: 5px solid black;
    padding: 10px;
    margin: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
   
    
}

.ingr-output-label
{
    display: flex;
    justify-content: center;
}

.ingrs
{
    display: flex;
    justify-content: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.inst-cen
{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inst-input
{
    margin: 0px;
    
}



.inst-output
{
    width: 700px;
    height: 325px;
    border: 5px solid black;
    padding: 10px;
    margin: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;

}

.inst-output-label
{
    display: flex;
    justify-content: center;
}

.huge
{
    width: 150px;
    height: 50px;
}
